<div id="sign-in">
  <%= image_tag("samplr_logo.png", size: "400x275", :id => "floating-box-logo") %>
  <div id="strapline">create.record.share</div>
  <div id="sign-in-content">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email, :class => 'label' %><br />
    <div class="text-box"><%= f.email_field :email, :autofocus => true %></div>
    <br />
    <%= f.label :password, :class => 'label' %><br />
    <div class="text-box"><%= f.password_field :password %></div>
    <br />
    <div id ="sign-in-button"><%= f.submit "Sign in" %></div>
  <% end %>
    <div id="or">OR</div>

  <%= render "devise/shared/links" %>
  </div>
</div>
