<div id="sample-pack-name"><%= @sample_pack.name %></div>

<div class='keyboard_container'>
  <div class="row">
    <% @sample_pack.samples.each do |sample| %>
      <p class="playbutton" id="button_<%= sample.key_mapped_to.upcase.ord %>" data-id="<%= sample.id %>" data-sample="<%= sample.name %>"><%= sample.key_mapped_to %></p>
    <% end %>
  </div>
</div>


<div id ="container">
  <input id="song_name" placeholder="Enter song title">
  <a href="#" class="hidden" id="record_song" >
    <div class="button">
      <div class="circle"></div>
      <div class="record control"> </div>
    </div>
  </a>

  <a href="#" id="recording">
    <div class="button">
      <div class="circle"> </div>
      <div class="stop control"></div>
    </div>
  </a>

<div id="keyboard-instruction">
  <p class="keyboard-text" id="line-1">Grab some headphones and use your keyboard to start playing</p>
  <p class="keyboard-text" id="line-2">When you're ready to record, enter a song title and hit the record button</p>
</div>

</div>






